<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{$seo_title|default='小姐姐淘宝天猫优惠券'}</title>
    <meta name="keywords" content="{$seo_key|default=''}">
    <meta name="description" content="{$seo_desc|default=''}">
    <link type="text/css" rel="stylesheet" href="__CSS__/main.css" />
    <link rel="icon" href="__IMAGE__/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__CSS__/font-awesome.min.css">


